.container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.entries {
  width: 50%;
}