<div class="container">
  <div class="heading">
    <h2>Name</h2>
    <h2>Points</h2>
  </div>
  <span>_________________________________</span>
  <div class="entries">
    <app-entry
      *ngFor="let user of leaderboard"
      [playerName]="user.playerName"
      [finalScore]="user.finalScore"
    ></app-entry>
  </div>
  <div class="navigation-buttons">
    <a routerLink="/settings">
      <button (click)="partialReset()">
        {{ game.playerName !== "" ? "Play Again" : "Go To Settings" }}
      </button>
    </a>
  </div>
</div>
