<div *ngIf="authLoading">Loading...</div>

<div class="container">
  <h1>Who's Who?</h1>
  <div>
    <h3 class="game-question">Question #{{ questionNumber }}</h3>
  </div>
  <!-- <audio controls>
    <source src="{{ currentAudio }}" type="audio/mpeg">
  </audio> -->
  <div>
    <button (click)="playSample()">Play Sample</button>
    <button (click)="pauseSample()">Pause Sample</button>
  </div>
  <div>
    <p>Which artist performs this song?</p>
  </div>
  <div class="album-section">
    <div (click)="chooseAlbum(1)">
      <img [src]="firstAlbumImageUrl" alt="Album 1" />
      {{ firstAlbumArtist }}
    </div>
    <div (click)="chooseAlbum(2)">
      <img [src]="secondAlbumImageUrl" alt="Album 2" />
      {{ secondAlbumArtist }}
    </div>
  </div>
  <div class="stats-section">
    <p>Correct: {{ correctAnswers }}</p>
    <p>Incorrect: {{ incorrectAnswers }}</p>
    <p>Current Score: {{ currentScorePercentage }}%</p>
  </div>
</div>
